<div class="container">
  <div class="content" id="lesson1_container_content">
    <h2 [innerHTML]="jsonData?.title.replace('\n', '<br>')"></h2>
    <div><br><br></div>
    <div *ngFor="let task of jsonData?.tasks">
      <p *ngFor="let answer of task.answers">
        {{ task.sentences[task.answers.indexOf(answer)] }}
        <input type="text" [id]="'fname' + jsonData.tasks.indexOf(task) + task.answers.indexOf(answer)"
          [name]="'fname' + task.answers.indexOf(answer)"
          (keydown.enter)="checkField(jsonData.tasks.indexOf(task).toString(), task.answers.indexOf(answer) , answer)">
      </p>
      <p> {{ task.sentences[task.sentences.length - 1] }}</p>
      <div><br></div>
    </div>
    <div><button (click)="showAnswers()">Answers</button>
      <p id="answers_list" style="display: none;"> {{ jsonData?.list_of_answers }}</p>
      <div><br></div>
    </div>
    <div>
      <button (click)="cleanAnswers()">Restart task</button>
      <div><br></div>
    </div>
    <div>
      <button (click)="clickPrev()">Prev</button>
      <button (click)="clickNext()" style="margin-left: 20px;">Next</button>
    </div>
  </div>
</div>